@{
    ViewBag.Title = "Reset password confirmation";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="col-xs-12" id="middle">

    <div class="container" id="middle_container_login">
        <div class="row">
            <div class="col-xs-12 login_title">
                <h2>Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</h2>
            </div>
        </div>
    </div>

</div>