@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="auth_form" style="top: 30%;width:400px">
    <h1 class="text-danger" style="font-size:20px">Error.</h1>
    <h2 class="text-danger" style="font-size:14px">An error occurred while processing your request.</h2>

    </div>